@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Lime: hsl(61, 70%, 52%);
    --Red: hsl(4, 69%, 50%);
    --White: hsl(0, 0%, 100%);
    --Slate_100: hsl(202, 86%, 94%);
    --Slate_300: hsl(203, 41%, 72%);
    --Slate_500: hsl(200, 26%, 54%);
    --Slate_700: hsl(200, 24%, 40%);
    --Slate_900: hsl(202, 55%, 16%);
}
html, body{
    width: 100%;
    height: 100%;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Slate_300);
}
.container{
    width: 70%;
    height: 80%;
    display: flex;
    background-color: var(--White);
    border-radius: 2vw;
}
.left_part{
    width: 50%;
    height: 100%;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;

}
.left_part_box1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    margin-top: 2vw;
}
.left_part_box1 h1{
    font-size: 1.5vw;
}
.left_part_box1 h3{
    position: relative;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
    color: var(--Slate_700);
}
/* hover with animation */
.left_part_box1 h3:hover{
    color: var(--Slate_900);
}
.left_part_box1 h3:hover::after{
    width: 100%;
}
.left_part_box1 h3::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--Slate_900);
    transition: width 0.3s ease-in-out;
}
.left_part_box2{
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 0 2vw;
}
.input_label{                       /* labels styling are same */
    font-size: 1vw;
    font-weight: 700;
    color: var(--Slate_700);
}
.amount_input{
    position: relative;
}
.left_part_box2 .amount_input::after{
    content: "£";
    position: absolute;
    width: 12%;
    height: 94%;
    left: 1.5px;
    border-top-left-radius: 0.6vw;
    border-bottom-left-radius: 0.6vw;
    text-align: center;
    align-content: center;
    font-size: 1.6vw;
    font-weight: 700;
    background-color: var(--Slate_100);
    border-top: solid 2px var(--Slate_700);
    border-bottom: solid 2px var(--Slate_700);
}
.left_part_box2 input{
    height: 3.5vw;
    width: 100%;
    font-size: 1.5vw;
    border-radius: 0.6vw;
    padding-left: 5vw;
    border: solid 2px var(--Slate_700);
}

.left_part_box3{
    margin-top: 2vw;
    padding: 0 2vw;
    display: flex;
    gap: 1vw;
}
.left_part_box3 .left_box3_left_part{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.left_part_box3 .left_box3_left_part input{
    height: 3.5vw;
    width: 100%;
    font-size: 1.5vw;
    border-radius: 0.6vw;
    padding-left: 2vw;
    border: solid 2px var(--Slate_700);
}
.left_part_box3 .left_box3_left_part .term_input{
    position: relative;
}
.left_part_box3 .left_box3_left_part .term_input::after{
    content: "years";
    position: absolute;
    width: 40%;
    height: 94%;
    right: 1.5px;
    border-top-right-radius: 0.6vw;
    border-bottom-right-radius: 0.6vw;
    text-align: center;
    align-content: center;
    font-size: 1.2vw;
    font-weight: 700;
    background-color: var(--Slate_100);
    border-top: solid 2px var(--Slate_700);
    border-bottom: solid 2px var(--Slate_700);
    border-right: solid 1px var(--Slate_700);
}

.left_part_box3 .left_box3_right_part{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.left_part_box3 .left_box3_right_part input{
    height: 3.5vw;
    width: 100%;
    font-size: 1.5vw;
    border-radius: 0.6vw;
    padding-left: 2vw;
    border: solid 2px var(--Slate_700);
}
.left_part_box3 .left_box3_right_part .Rate_input{
    position: relative;
}
.left_part_box3 .left_box3_right_part .Rate_input::after{
    content: "%";
    position: absolute;
    width: 30%;
    height: 94%;
    right: 1.5px;
    border-top-right-radius: 0.6vw;
    border-bottom-right-radius: 0.6vw;
    text-align: center;
    align-content: center;
    font-size: 1.2vw;
    font-weight: 700;
    background-color: var(--Slate_100);
    border-top: solid 2px var(--Slate_700);
    border-bottom: solid 2px var(--Slate_700);
}





.right_part{
    width: 50%;
    height: 100%;
    background-color: var(--Slate_900);
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 6vw;
}